<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% username_class = "form-control" %>
    <% username_was_invalid = user.errors.include?(:username) %>

    <% if was_validated %>
      <% if username_was_invalid %>
        <% username_class << " is-invalid" %>
      <% else %>
        <% username_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :username %>
    <%= f.text_field :username, class: username_class, placeholder: "Enter username" %>
    <% if username_was_invalid %>
      <% user.errors.full_messages_for(:username).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% password_class = "form-control" %>
    <% password_was_invalid = user.errors.include?(:password) %>

    <% if was_validated %>
      <% if password_was_invalid %>
        <% password_class << " is-invalid" %>
      <% else %>
        <% password_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :password %>
    <%= f.text_field :password, class: password_class, placeholder: "Enter password" %>
    <% if password_was_invalid %>
      <% user.errors.full_messages_for(:password).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% birthday_class = "form-control" %>
    <% birthday_was_invalid = user.errors.include?(:birthday) %>

    <% if was_validated %>
      <% if birthday_was_invalid %>
        <% birthday_class << " is-invalid" %>
      <% else %>
        <% birthday_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :birthday %>
    <%= f.date_select :birthday, class: birthday_class, placeholder: "Enter birthday" %>
    <% if birthday_was_invalid %>
      <% user.errors.full_messages_for(:birthday).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% interest_class = "form-control" %>
    <% interest_was_invalid = user.errors.include?(:interest) %>

    <% if was_validated %>
      <% if interest_was_invalid %>
        <% interest_class << " is-invalid" %>
      <% else %>
        <% interest_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :interests %>
    <%= f.text_area :interests, class: interest_class, placeholder: "Enter interest" %>
    <% if interest_was_invalid %>
      <% user.errors.full_messages_for(:interest).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% address_class = "form-control" %>
    <% address_was_invalid = user.errors.include?(:address) %>

    <% if was_validated %>
      <% if address_was_invalid %>
        <% address_class << " is-invalid" %>
      <% else %>
        <% address_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :address %>
    <%= f.text_field :address, class: address_class, placeholder: "Enter address" %>
    <% if address_was_invalid %>
      <% user.errors.full_messages_for(:address).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% category_class = "form-control" %>
    <% category_was_invalid = user.errors.include?(:category) %>

    <% if was_validated %>
      <% if category_was_invalid %>
        <% category_class << " is-invalid" %>
      <% else %>
        <% category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category_id %>
    <%= f.number_field :category_id, class: category_class, placeholder: "Enter category" %>
    <% if category_was_invalid %>
      <% user.errors.full_messages_for(:category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% postcard_class = "form-control" %>
    <% postcard_was_invalid = user.errors.include?(:postcard) %>

    <% if was_validated %>
      <% if postcard_was_invalid %>
        <% postcard_class << " is-invalid" %>
      <% else %>
        <% postcard_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :postcard_id %>
    <%= f.number_field :postcard_id, class: postcard_class, placeholder: "Enter postcard" %>
    <% if postcard_was_invalid %>
      <% user.errors.full_messages_for(:postcard).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
