<%= form_with(model: @postcard, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :postcard_image %>

    <%= f.file_field :postcard_image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :postcard_name %>
    <%= f.text_area :postcard_name, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %>

    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :delivery_time %>

    <%= f.text_field :delivery_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>

    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :bookmark_id %>

    <%= f.text_field :bookmark_id, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create postcard", class: "btn btn-block btn-outline-secondary" %>
<% end %>
