<div class="card mb-3">
  <h2 class="card-header h4">
    Postcard #<%= postcard.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Postcard image</dt>
      <dd>
        <%= cl_image_tag @postcard.postcard_image, class: "img-fluid" %>
      </dd>

      <dt>Postcard name</dt>
      <dd><%= postcard.postcard_name %></dd>

      <dt>Description</dt>
      <dd><%= postcard.description %></dd>

      <dt>Price</dt>
      <dd><%= postcard.price %></dd>

      <dt>Delivery time</dt>
      <dd><%= postcard.delivery_time %></dd>

      <dt>Category</dt>
      <dd>
        <% if @postcard.category.present? %>
          <%= link_to postcard.category, postcard.category %>
        <% end %>
      </dd>

      <dt>Bookmark</dt>
      <dd><%= postcard.bookmark_id %></dd>

      <dt>User</dt>
      <dd>
        <% if @postcard.user.present? %>
          <%= link_to postcard.user, postcard.user %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back postcard, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_postcard_url(postcard), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to postcard, method: :delete, data: { confirm: "Do you really want to delete this postcard?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(postcard.updated_at) %> ago
  </div>
</div>
